# Copy file ini jadi .env dan isi nilainya

# Port server (Railway otomatis set ini lewat env var PORT)
PORT=3001

# URL frontend (Vercel URL kamu) — untuk CORS
CLIENT_URL=https://volcano-cats.vercel.app

# Environment
NODE_ENV=development

# Log level: trace | debug | info | warn | error | fatal
LOG_LEVEL=debug
